
.header-container {
  text-align: center;
  border: 3px solid black;
}
.header-container img{
  justify-content: center;
  width: 100%;
  border: 0.5px solid black;
}
#inputs{
  text-align: center;
  background-color: blanchedalmond;
  border: 0.5px solid black;
}
#inputs> div{
  display: inline-block;
}
#inputs button{
  width: 20vw;
}
label, input, button{
  text-align: center;
  margin: 1%;
  
}
body {
  background-color: lightslategrey;
  min-height: 100vh;
  color: black;
}
button {
  border-radius: 8px;
  border: 1px solid black;
  font-size: 1em;
  height: 8vh;
  width: 8vw;
  flex-wrap: wrap;
  margin: 10px;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input {
  height: 30%;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


input.error {
  border-color: red;
}

.header-HMTL{
  border: 3px solid black;
}
#app{
  background-color: lightslategrey;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.notification{
  text-align: center;
  border: 3px solid black;
}
.manufacturer-card{
  background-color: blanchedalmond;
  width: 20vw;
  /* height: 30vh; */
  text-align: center;
  text-wrap: wrap;
  border: 3px solid black;
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 3%;
}
.model-cards{
  background-color: blanchedalmond;
  width: 20vw;
  height: 30vh;
  text-align: center;
  text-wrap: wrap;
  border: 3px solid black;
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 3%;
}
.error-card{
  background-color: blanchedalmond;
  width: 100%;
  height: 100%;
  text-align: center;
  justify-content: center;
  border: 3px solid black;
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
}
.error-card img{
  border: 2px solid black;
  height: 60%;
  width: 60%;
}
.manu-card{
  background-color: blanchedalmond;
  width: 20vw;
  height: 50vh;
  text-align: center;
  text-wrap: wrap;
  border: 3px solid black;
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 3%;
}

@media screen and (max-width: 1024px) {
  .manufacturer-card{
    width: 30vw;
  }
  .model-cards{
    width: 30vw;
  }
  .manu-card{
    width: 30vw;
  }
}
@media screen and (max-width: 768px) {
  .manufacturer-card{
    width: 40vw;
  }
  .model-cards{
    width: 40vw;
  }
  .manu-card{
    width: 40vw;
  }
  #inputs label{
    display: block;
  }
  button {
    width: 20vw;
  }
}
@media screen and (max-width: 640px) {
  .manufacturer-card{
    width: 50vw;
  }
  .model-cards{
    width: 50vw;
  }
  .manu-card{
    width: 50vw;
  }
}


